.error-message {
    color: #dc3545;
    font-family: "Roboto";
    font-size: 14px;
}
.form-heading {
    font-family: "Roboto";
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-container{
    display:flex;
    flex-direction:column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:500px;
    margin:10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    height:300px;

}
.posts-cont{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.flex-container-post{
    display:flex;
    justify-content: center;
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.cont {
    display: flex;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.name {
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.name-user {
    font-size: 27px;
    font-weight: bold;
}

.post {
    padding: 20px;
}

.nav-item {
    font-size: 25px;
}
.name-heading{
    margin-top:10px;
}


.container-div {
    display: flex;
    padding: 10px;
    background-color:skyblue;

}
.log-out-button{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.nav-cont{
    position:fixed;
}

.form-heading {
    font-family: "Roboto";
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 20px;
}
